.barra{
      height: 50px;
      width: 1142px;
      background-color: #ffd151;
      padding: 0px 0px 0px 10px;
}
.conteudo{
      height: 730px;
      width: 1132px;
      background-color: #feffd4;
      padding: 10px;
}
