<!DOCTYPE HTML>
	<html lang="pt">
		<head>
			<meta http-equiv="content-type" content="text/html; charset=utf-8">
			<title>owl - Novo Cliente</title>
      <link rel="stylesheet" href="../styles/stylePresentation.css" type="text/css" media="screen">
      <link rel="stylesheet" href="../styles/styleIndex.css" type="text/css" media="screen">

		</head>
		<body>
      <div class="containerX">
        <div class="headerX">
          <img src="../images/header.png">
        </div>
  			<div class="window">
          <h1>
          	owl, sua agência na nuvem.
          </h1>
					<img src="../images/presentation/owlPoster.png" class="poster">
					<p class="meutexto">O Projeto <b>owl</b> surgiu da necessidade de organizar
						processos criativos e fluxos de trabalho em agências de publicidade.</p>
					<p class="meutexto">Com a intenção de aumentar a produtividade, <b>owl</b>
						trás uma nova alternativa de ferramenta que promete melhorar a
						organização interna de sua empresa.</p>
					<p class="meutexto">Projetada para suprir todas as etapas do processo de
						desenvolvimento publicitário, nossa plataforma conta com funcionalidades como:</p>
					<ul class="meutexto">
					  <li><b>Integração com Google Calendar:</b> Seja notoficado onde estiver sobre o
							vencimento de suas campanhas;</li>
					  <li><b>Listas de Tarefas:</b> Delegue tarefas e organize o dia-a-dia de sua equipe;</li>
						<li><b>Quadro Kanban:</b> Organize o fluxo de produção da sua agência e não perca os prazos;</li>
					  <li><b>Chat Interno:</b> Organize o fluxo de produção da sua agência e não perca os prazos;</li>
					</ul>
				</div>
      </div>

		</body>
	</html>
