<!DOCTYPE HTML>
	<html lang="pt">
		<head>
			<meta http-equiv="content-type" content="text/html; charset=utf-8">
			<title>owl - Novo Cliente</title>
      <link rel="stylesheet" href="../styles/styleNewClient.css" type="text/css" media="screen">
      <link rel="stylesheet" href="../styles/styleIndex.css" type="text/css" media="screen">

		</head>
		<body>
      <div class="containerX">
        <div class="headerX">
          <img src="../images/headerRegister.png">
        </div>
  			<div class="window">
          <h2>
            Novo Cliente - Contato
          </h2>

          <table>
            <tr>
              <th>Dados de Contato</th>
              <th></th>
            </tr>
            <tr>
              <td>Nome: *</td>
              <td><input type="text" name="nameClient"  size="50" maxlength='50'></td>
            </tr>
            <tr>
              <td>Endereço: *</td>
              <td><input type="text" name="addressClient"  size="50" maxlength="100"></td>
            </tr>
            <tr>
              <td>Cidade: *</td>
              <td><input type="text" name="cityClient"  size="50" maxlength="25"></td>
            </tr>
            <tr>
              <td>Telefone 1: *</td>
              <td><input type="tel" name="tel1Client"  size="50" maxlength="20"></td>
            </tr>
            <tr>
              <td>Telefone 2:</td>
              <td><input type="tel" name="tel2Client"  size="50" maxlength="20"></td>
            </tr>
            <tr>
              <td>Celular 1: *</td>
              <td><input type="tel" name="cel1Client"  size="50" maxlength="20"></td>
            </tr>
            <tr>
              <td></td>
              <td>WhatsApp: <input type="checkbox" name="whatsapp1" value="Bike">
                Operadora:
                <select>
                  <option id="selecione" value="volvocar">Selecione</option>
                  <option value="volvocar">Tim</option>
                  <option value="saabcar">Vivo</option>
                  <option value="volvocar">Claro</option>
                  <option value="saabcar">Oi</option>
                  <option value="volvocar">Outro</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Celular 2:</td>
              <td><input type="tel" name="cel2Client"  size="50" maxlength="20"></td>
            </tr>
            <tr>
              <td></td>
              <td>WhatsApp: <input type="checkbox" name="whatsapp2" value="Bike">
                Operadora:
                <select>
                  <option id="selecione" value="volvocar">Selecione</option>
                  <option value="volvocar">Tim</option>
                  <option value="saabcar">Vivo</option>
                  <option value="volvocar">Claro</option>
                  <option value="saabcar">Oi</option>
                  <option value="volvocar">Outro</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Email 1: *</td>
              <td><input type="email" name="email1Client"  size="50" maxlength="50"></td>
            </tr>
            <tr>
              <td>Email 2:</td>
              <td><input type="email" name="email2Client"  size="50" maxlength="50"></td>
            </tr>
            <tr>
              <th><br>Dados de Divulgação</th>
            </tr>
            <tr>
              <td>Email:</td>
              <td><input type="email" name="email3Client"  size="50" maxlength="50"></td>
            </tr>
            <tr>
              <td>Facebook:</td>
              <td><input type="url" name="facebookClient"  size="50" maxlength="100"></td>
            </tr>
            <tr>
              <td>Twitter:</td>
              <td><input type="text" name="twitterClient"  size="50" maxlength="50"></td>
            </tr>
            <tr>
              <td>Skype:</td>
              <td><input type="text" name="skypeClient"  size="50" maxlength="50"></td>
            </tr>
            <tr>
              <td>Instagram:</td>
              <td><input type="text" name="instagramClient"  size="50" maxlength="50"></td>
            </tr>
            <tr>
              <td>LinkedIn:</td>
              <td><input type="url" name="linkedinClient"  size="50" maxlength="100"></td>
            </tr>
            <tr>
              <td>Outras:</td>
              <td><input type="text" name="othermideaClient"  size="50" maxlength="100"></td>
            </tr>
            <tr>
              <th><br>Outros Dados</th>
            </tr>
            <tr>
              <td>Ramo de Atividade:</td>
              <td><input type="text" name="activityClient"  size="50" maxlength="25"></td>
            </tr>
            <tr>
              <td>Responsável:</td>
              <td><input type="text" name="responsibleClient" size="50"  size="50" maxlength="25"></td>
            </tr>
            <tr>
              <td>Observações:</td>
              <td><textarea rows="3" cols="52"></textarea></td>
            </tr>
          </table>


  			</div>
      </div>

		</body>
	</html>
